.section#index
  .game-options
    .new-game
      %a.btn{href:'#new-game'} New Game
    .join-game
      %a.btn{href:'#join-game'} Join Game
    .readme
      %a.btn{href:'#readme'} Read me

  = partial "new_game"
  = partial "join_game"
  = partial "game_created"

.section#start
  = partial "start_section"

.section#dashboard
  = partial "dashboard"

.section#battle
  = partial "battle_section"

.section#techtree
  = partial "technologies"

.readme_overlay.hide
  .back
    %a.close-readme.btn{ href:'#close-readme' } X
  .content
